.App {
  text-align: center;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
/* .cards_container::-webkit-scrollbar {
  display: none;
} */
/* .overscan_container::-webkit-scrollbar {
  display: none;
} */

.cards_container {
  height: 100vh;
  overflow-y: auto;
  position: relative;
}
